* {
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-family: 'DynaPuff', cursive;
}

:root {
    --text-color: wheat;
    --primare-bg-color: #520000;
}

body {
    background-color: var(--primare-bg-color);
    font-family: 'DynaPuff', cursive;
}

h1 {
    color: var(--text-color);
}

.main-button {
    margin-top: 100px;
    border: none;
    padding: 20px 40px;
    border-radius: 20px;
    background: var(--primare-bg-color);
    box-shadow: 20px 20px 38px #350000,
                -20px -20px 38px #6f0000;
    cursor: pointer;

    color: var(--text-color);
    font-weight: 400;
}

.main-button:hover,
.main-button:focus {
    background: #520000;
        box-shadow: 10px 10px 20px #350000,
            -10px -10px 20px #6f0000;
}

/* Page first */

.button__page-first {
    margin-top: 100px;
    border: none;
        padding: 20px 40px;
        border-radius: 20px;
        background: var(--primare-bg-color);
        box-shadow: 20px 20px 38px #350000,
            -20px -20px 38px #6f0000;
        cursor: pointer;
    
        color: var(--text-color);
        font-weight: 700;
}

.button__page-first:hover {
    background: var(--primare-bg-color);
        box-shadow: 10px 10px 20px #350000,
            -10px -10px 20px #6f0000;
}