* {
    list-style: none;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: #520000;
}

.main-box {

}
.main__a{
}
.main-button {
    margin-top: 100px;
    border: none;
    padding: 40px;
    border-radius: 20px;
    background: #520000;
    box-shadow: 20px 20px 38px #350000,
                -20px -20px 38px #6f0000;
    cursor: pointer;

    color: white;
    font-weight: 1000;
}

.main-button:hover {
    background: #520000;
        box-shadow: 10px 10px 20px #350000,
            -10px -10px 20px #6f0000;
}

/* Page first */

.button__page-first {
    margin-top: 100px;
    border: none;
        padding: 40px;
        border-radius: 20px;
        background: #520000;
        box-shadow: 20px 20px 38px #350000,
            -20px -20px 38px #6f0000;
        cursor: pointer;
    
        color: white;
        font-weight: 1000;
}

.button__page-first:hover {
    background: #520000;
        box-shadow: 10px 10px 20px #350000,
            -10px -10px 20px #6f0000;
}