* {
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    line-height: 1.5;
}

:root {
    --text-color: wheat;
    --primare-bg-color: #520000;
}

body {
    background-color: var(--primare-bg-color);
    /* font-family: 'DynaPuff', cursive; */
}

.main-box h1{
    color: var(--text-color);
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}
.main-box p{
    color: var(--text-color);
    opacity: 0;
    animation: fade-in 2s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-button {
    margin-top: 50px;
    border: none;
    padding: 20px 40px;
    border-radius: 25px;
    background: var(--primare-bg-color);
    box-shadow: 20px 20px 38px #350000,
                -20px -20px 38px #6f0000;
    cursor: pointer;

    color: var(--text-color);
    font-weight: 400;
}

.main-button:hover,
.main-button:focus {
    background: #520000;
        box-shadow: 10px 10px 20px #350000,
            -10px -10px 20px #6f0000;
}

/* Page first */
 .p_first {
    padding: 20px;
    color: var(--text-color);
 
 }
        .swiper {
            margin-top: 30px;
            width: 80%;
            height: 100%;
        }
    
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            color: var(--text-color);
            background: var(--primare-bg-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }

                .swiper-scrollbar {
                    /* position: absolute; */
                    bottom: 10px;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background: #ccc;
                    border-radius: 5px;
                }
        
                .swiper-scrollbar-drag {
                    background: #000;
                    border-radius: 5px;
                }


 /* page secons */

 .img img {
    margin-top: 30px;
    border-radius: 25px;
    box-shadow: 20px 20px 38px #350000,
            -20px -20px 38px #6f0000;

    opacity: 0;
    transform: translateY(50px) scale(0.5);
    animation: slide-in 0.5s ease-in forwards;
 }

 .p_second {
    color: var(--text-color);
 }

 @keyframes slide-in {
     from {
         opacity: 0;
         transform: translateY(50px) scale(0.5);
     }

     to {
         opacity: 1;
         transform: translateY(0px) scale(1);
     }
 }