* {
    list-style: none;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: #520000;
}

.main-box {

}

.main-button {
    border: none;
    padding: 40px;
    border-radius: 20px;
    background: #520000;
    box-shadow: 20px 20px 38px #350000,
                -20px -20px 38px #6f0000;
}
.main-button a{
color: white;
font-weight: 1000;
}